doctype html
html(lang="en")
head
	meta(charset="UTF-8")
	title="sample"
	link(rel="stylesheet" href="css/style.css")
	script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
	script(src="js/jquery.textEllipsis.js")

body
	header
		h1 jquery.textEllipsis

	script.
		$(function(){
			$(".target1").ellipsis({limit: 100});
			$(".target2").ellipsis({limit: 70});
			$(".target3").ellipsis({limit: 40});
			$(".target4").ellipsis({limit: 60});
			$(".target5").ellipsis({limit: 20});
		});

- for(var i = 0;i < 5;i++)
	p(class="target target"+(i+1))
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas animi, accusantium dolorem. Cum quibusdam reprehenderit blanditiis deleniti dignissimos, explicabo ea eius tempora maiores modi nam qui magni. Corporis, explicabo fugiat.