body
	color: #666
	font-size: 14px
	margin: 0

h1
	color: #fff
	font-size: 16px
	text-align: center
	letter-spacing: 1px
	margin-top: 0
	padding: 10px
	background: #1E6E94

.box
	clear: both

.target
	float: left
	font-size: 14px
	width: 200px
	margin: 10px
	padding: 10px
	border: solid 1px #ccc
	background: #e9e9e9
	word-break: break-all

.target2
	font-size: 13px
	border: solid 1px #ccc
	background: #F8F7F3

#t8-lines
	width: 200px
	margin: 10px
	// padding: 10px
	border: solid 1px #ccc
	background: #e9e9e9